

:root{
	font-family: Helvetica;
	font-size: 14px;
}

+ {
	font: inherit;
}

#meme-canvas{
	width: 300px;
}

.container{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#h1{
	padding-bottom: 20px;
}